<nav class="nav_bar">
	<header>
		<div class="nav_list">
			<img src="assignment/restaurant_logo.png" />
			<ul class="tabs">
				<li class="nav-item"><a class="link" href="/">story</a></li>
				<li class="nav-item"><a class="link" href="/">Menu</a></li>
				<li class="nav-item"><a class="link" href="/contact_us">Contact us</a></li>
				<li class="nav-item"><a class="link" href="/">Testimonails</a></li>
				<li class="nav-item"><a class="link" href="/">Book a Table</a></li>
				<li class="nav-item"><a class="link" href="/about">About</a></li>
			</ul>
		</div>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</header>
</nav>
