

<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>
          <div class="contact">
              <div class="card_c">
                  <div class="us_card">
                  <h3 class="us">
                      CONTACT US
                  </h3>
                  <p class="us_p">
                      You can contact us on all social media platforms
                 
                  <ul class="c_i">
                    <li class="c_li" >
                      <i class="bi bi-twitter" style="font-size:25px; color :burlywood; gap:80px;"></i>
                      <i class="bi bi-facebook" style="font-size:25px; color :burlywood;"></i>
                      <i class="material-icons" style="font-size:25px; color:burlywood">sports_basketball</i>
                      <i class="bi bi-linkedin" style="font-size:25px; color :burlywood;"></i>
                      <i class="bi bi-instagram" style="font-size:25px; color :burlywood;"></i>
                      <i class="bi bi-pinterest" style="font-size:25px; color :burlywood;"></i>
                      <i class="material-icons" style="font-size:25px; color:burlywood;">hdr_weak</i> 
                    </li>
                </ul>
                <p class="number">or call us on 
                    <ul class="num">
                        <li class="mun">024456893</li>
                        <li>/</li>
                        <li class="mun">024456893</li>
                        <li>/</li>
                        <li class="mun">024456893</li>
                    </ul>
            </p>

              </div>
            </div>
          </div>





        <%- include('./partials/footer.ejs') %>
        <script src="index.js"></script>
    </body>
    </html>