<html lang="en">
   <%- include('./partials/head.ejs') %>

<body>
 
    <%- include('./partials/nav.ejs') %>
 
		<section class="section_1">
			
			
				<div class="heading">
					<p>Because</p>
					<h1 class ="heading_h1">You're</h1>
					<h1 class ="heading_h1">WORTH IT</h1>
				</div>

				<div class="food_cards">
					<div class="card">
						<img src="assignment/chips.jpg" />
						<ul class="card_menu">
							<li>
								chips & chicken -<br />
								<b>$ 32389</b>
							</li>
						</ul>
					</div>

					<div class="card">
						<img src="assignment/salads.jpg" />
						<ul class="card_menu">
							<li>
								chef salads-<br />
								<b>$ 32389</b>
							</li>
						</ul>
					</div>

					<div class="card">
						<img src="assignment/steak.jpg" />
						<ul class="card_menu">
							<li>
								grilled steak-<br />
								<b>$ 32389</b>
							</li>
						</ul>
					</div>

					<div class="card">
						<img src="assignment/chicken.jpg" />
						<ul class="card_menu">
							<li>
								roasted chicken -<br />
								<b>$ 32389</b>
							</li>
						</ul>
					</div>
				</div>
		
		</section>

		<section class="section_2">
			<div class="headings_section">
				<p class="h1">Discover Your Story</p>
				<p class="h2">
					In our work we try to use only the most modern, convenient and
					interesting <br />solutions. We want the template you downloaded look
					unique and new for <br />such a long time as it is possible.
				</p>
				<img src="assignment/center.png" alt="" />
			</div>
		</section>

		<section class="section_3">
		<div class="statement">
			<p class="p_heading">what to Eat ?</p>
			<p class="sub_heading">ENJOY YOUR MENU</p>
			<p class="words">more than 250 dishes and 300 drinks for you </p>
			<button class="popup" onclick="myFunction()">view menu
				<div class="popuptext" id="myPopup">
				
			  <ul >
				  
				
				<h3>BURGERS</h3>
			  <li>Rice and Stew.....$23</li>
			  <li>Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  </ul>
			  
			  <ul ><h3>BURGERS</h3>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  </ul>
			  
			  <ul ><h3>BURGERS</h3>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  </ul>
			  
			  <ul ><h3>BURGERS</h3>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li>Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
				</ul>
				
				<ul ><h3>BURGERS</h3>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li>Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
				</ul>
				
				<ul ><h3>BURGERS</h3>
			  <li >Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
			  <li>Rice and Stew.....$23</li>
			  <li >Rice and Stew.....$23</li>
				</ul>
			  </div>
		</section>
		<section class="section_4">
			<div class="food_data">

				<div class="data_card">
					<img src="assignment/hot_food.png" alt="" /><br />
					<div class="data_header">
						Fully Responsive
					</div>
					<div class="data_briefings">
						Your project looks great on any device.<br>
						Content can be easily read and a user<br>
						understands freely what you wanted <br>
						to say him or her.
					</div>
				</div>
	
	
				<div class="data_card">
					<img src="assignment/feature-food3.png" alt="" /><br />
					<div class="data_header">
						Pure & Simple
					</div>
					<div class="data_briefings">
						No fluff. Nothing should lead the visitor <br>away
						from the main essence of<br> website.
						There must be just important information..</div>
				</div>
	
				 <div class="data_card">
					<img src="assignment/feature-food5.png" alt="" /><br />
					<div class="data_header">
						Color Schemes
					</div>
					<div class="data_briefings">
						The set of ready made CSS files with <br>
						different color schemes will help you in<br> quick
						landing’s adaptation according <br>to your benchmark style..
					</div>
				</div>
	
				<div class="data_card">
					<img src="assignment/feature-food2.png" alt="" /><br />
					<div class="data_header">
						PSD Is Included
					</div>
					<div class="data_briefings">
						The graphic source file in PSD format is <br>included in the archive.
					</div>
				</div>
	
				<div class="data_card">
					<img src="assignment/feature-food4.png" alt="" /><br />
					<div class="data_header">Documentation</div>
					<div class="data_briefings">
						The detailed documentation will help<br> you in adjusting
						the project with little <br>effort according to your requirements..
					</div>
				</div>
	
				<div class="data_card">
					<img src="assignment/feature-food6.png" alt="" /><br />
					<div class="data_header">
						Multiplatform
					</div>
					<div class="data_briefings">
						The page is adapted to the most of the<br> popular platform in segment.
					</div>
				</div> 
			</div>
		</section>

		<div class="section_5">
			<div class="mySlides">
				<i class="material-icons" style="font-size:48px; color:yellow;">star_border</i>
				<i class="material-icons" style="font-size:48px; color:yellow;">star_border</i>
				<i class="material-icons" style="font-size:48px; color:yellow;">star_border</i>
				<i class="material-icons" style="font-size:48px; color:yellow;">star_border</i><br>
				This is a great product. It reveals an individual
				approach to each customer. I liked the <br>level of the provided service.
			
			<div class="message">
				Melissa Smith
			</div>
			</div>

		
		</div>
        <section class="section_6">
			<ul class="list">
				<li class="orders">
					<i class="material-icons" style="font-size:100px; color:gray;">class</i><br>
					<span class="numbers">256 </span><br>Dishes</li>
				<li class="orders">
					<i class="material-icons" style="font-size:100px; color:gray;">wine_bar</i><br>
					<span class="numbers">309 </span><br>Drinks</li>
				<li class="orders">
					<i class="material-icons" style="font-size:100px; color:gray;">mood</i><br>
					<span class="numbers">721 </span><br>Happy Clients</li>
				<li class="orders">
					<i class="material-icons" style="font-size:100px; color:gray;">favorite</i><br>
					<span class="numbers">378 </span><br>likes</li>
			</ul> 
	</section>

	<div class="section_7">
		<div class="form_box">
	
			<form>
				<h2>Book a Table</h2><br>
				<input type="text" class="input-field" required />
				<p class="form_text"> full name<br></p>
				<input type="text" class="input-field" required />
				<p class="form_text"> Email Address<br></p>
				<input type="text" class="input-field" required /><br>
				<textarea class="form-control" class="pit"> Your message or question</textarea><br>
				<button class="form_btn">
					<i class="material-icons" style="font-size:28px; color:white;">book</i>
					Book
				</button>
			</form>
	
			<p class="paragraph">
				In our work we try to use only the most modern,convenient
				 <br>and interesting solutions. We want the template you<br> 
				 downloaded look unique and new for such a long time as it is
				 <br> possible.<br>

				<span class="form_icons">
					<i class="material-icons" style="font-size:20px; color:gray;">schedule</i> 10:00 - 23:00 (Mon - Sun)<br>
					<i class="material-icons" style="font-size:20px; color:gray;">place</i> 300 Boylstone Ave E, Seattle
					WA<br>
					<i class="material-icons" style="font-size:20px; color:gray;">phone_callback</i> 732-555-1428
					(Callback)<br>
					<i class="material-icons" style="font-size:20px; color:gray;">email</i> your@email.com
				</span>
		</p>
			
		</div>
		</div>
  <%- include('./partials/footer.ejs') %>


  <script src="index.js"></script>
</body>
</html>