<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
        <%- include('./partials/nav.ejs') %>
        <div class="page">
   
   
             <p class="text_p">We appreciate you for sharing your comments.thanks   &#128578 &#128525</p>
           
               
              
                 <P class="small_l"> The page will be redirected to the <a href='/' class="a">Story </a>in <span id="timer"></span> sec.Thank You</p>

                
                    
       
         </div>
      
           

        <%- include('./partials/footer.ejs') %>
        <script src="redirect.js"></script>
        <script src="index.js"></script>
	</body>
</html>
